body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#video-container {
    position: relative;
    max-width: 80%;
}

video {
    width: auto%;
    height: auto%x;
    outline: none;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.nav-arrow.left {
    left: 0;
}

.nav-arrow.right {
    right: 0;
}